

$pColor : rgb(10, 134, 236);
$sColor : rgb(13, 188, 241);
$tColor : rgb(73, 14, 212);


@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dancing+Script:wght@400;500&family=Imperial+Script&family=Lato:ital,wght@0,100;0,300;0,400;1,100&family=Lora:ital@0;1&family=Mea+Culpa&family=Moon+Dance&family=Oooh+Baby&family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Pushster&family=Roboto:wght@100;300&family=Ubuntu:wght@300&family=Waterfall&display=swap');


// font-family: 'Abel', sans-serif;
// font-family: 'Dancing Script', cursive;
// font-family: 'Imperial Script', cursive;
// font-family: 'Lato', sans-serif;
// font-family: 'Lora', serif;
// font-family: 'Mea Culpa', cursive;
// font-family: 'Moon Dance', cursive;
// font-family: 'Oooh Baby', cursive;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Pushster', cursive;
// font-family: 'Roboto', sans-serif;
// font-family: 'Ubuntu', sans-serif;
// font-family: 'Waterfall', cursive;


.container {
  padding: 20px;
  background-color: transparentize($sColor, 0.45);
  min-height: 100vh;
  margin: 0 auto;
  // text-align: center;
}


.input_container {
  // border: 2px solid red;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  // display: flex; 
  // flex-direction: row;
  // justify-content: space-between;
  // align-items: center;
  // gap: 10px;
  margin-bottom: 20px;
  

  input {
    border: 1px solid lighten($sColor, 0.2);
    border: 5px solid transparentize($pColor, 0.75);
    // background-color: transparentize(black, 0.8);
    line-height: 24px;
    // text-align: center;
    border-radius: 7px;
    padding: 7px 10px;
    font-size: 1rem;
    width: 70%;
    margin-bottom: 10px;
  }

  button.input_button {
    padding: 10px 10px;
    font-size: 0.85rem;
    color: white;
    letter-spacing: 1px;
    background-color: transparentize($sColor, 0.9) ;
    border-radius: 7px;
    border: none;
    box-shadow: 0.1px 0.1px 4px 0.1px rgba(0, 0, 0, 0.473);
    font-family: 'Ubuntu', sans-serif;
  }
}

.cards_container {
  // border: 2px solid red;
  padding: 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 2%;

  button.remove {
    border: 2px solid rgba(38, 17, 230, 0.281);
    border-radius: 5px;
    background-color: transparent;
    padding: 7px;
    margin: 10px;
    font-family: 'Open Sans', sans-serif;

  }


  .card_container {
    background-color: transparentize($sColor, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.582);
    border-radius: 15px;
    width: 25%;
    min-width: 180px;
    max-width: 250px;
    // height: 400px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0.1px 0.1px 4px 0.2px rgba(255, 255, 255, 0.219);

    .cardInfo {
      // border: 2px solid red;
      height: 80%;
      width: 80%;

// font-family: 'Abel', sans-serif;
// font-family: 'Dancing Script', cursive;
// font-family: 'Imperial Script', cursive;
// font-family: 'Lato', sans-serif;
// font-family: 'Lora', serif;
// font-family: 'Mea Culpa', cursive;
// font-family: 'Moon Dance', cursive;
// font-family: 'Oooh Baby', cursive;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Pushster', cursive;
// font-family: 'Roboto', sans-serif;
// font-family: 'Ubuntu', sans-serif;
// font-family: 'Waterfall', cursive;

      p {
        // border: 2px solid red;
        margin: 2px;
        color: whitesmoke;
        font-family: 'Roboto', cursive;
      }

      p.location {
        margin: 0 0 10px 0 ;

      }

      p.description {
        text-transform: capitalize;
      }
      

      img {
        // border: 1px solid rgba(255, 255, 255, 0.151);
        // width: 80%;
        // background-color: rgba(57, 99, 238, 0.237);
        // border-radius: 10px;
        filter: drop-shadow(3px 2px 4px #0b0bca85);
        // box-shadow: 0.1px 0.1px 4px 0.2px rgba(255, 255, 255, 0.219);
      }

     


    }
  }

}


