

$pColor : rgb(10, 236, 66);
$sColor : rgb(14, 93, 241);
$tColor : rgb(212, 77, 14);



.container {
  padding: 20px;
  background-color: transparentize($pColor, 0.5);
  min-height: 100vh;
  margin: 0 auto;
  // text-align: center;
}


.input_container {
  // border: 2px solid red;
  width: 70%;
  margin: 0 auto;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  

  input {
    border: 1px solid lighten($sColor, 0.2);
    // border: none;
    background-color: transparentize(black, 0.8);
    line-height: 20px;
    border-radius: 7px;
    padding: 7px 10px;
    font-size: 1rem;
    width: 70%;
  }

  button {
    padding: 7px 10px;
    font-size: 0.85rem;
    font-weight: 500;
    color: $tColor;
    background-color: transparentize($sColor, 0.7) ;
    border: .1px solid rgba(236, 10, 225, 0.445);
    border-radius: 7px;
    box-shadow: .1px .1px 3px $tColor;
  }
}

.cards_container {
  // border: 2px solid red;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 2%;


  .card_container {
    background-color: transparentize($sColor, 0.7);
    // border: 2px solid blue;
    border: none;
    border-radius: 15px;
    width: 35%;
    // min-height: 300px;
    margin-bottom: 20px;
    padding: 10px;
    
  }

}


